body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
}
div{
    width: 650px;
    padding: 10px;
}

.text-brown{
    color: brown;
}

.text-red{
    color: red;
}

.text-green{
    color: green;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}